<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sonika.nepstra">

    <uses-sdk tools:overrideLibrary="com.paypal.android.sdk.payments" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailsActivity" />
        <activity android:name=".OrderedProducts" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".Navigations.Womens" />
        <activity android:name=".Navigations.NewArrival" />
        <activity android:name=".Navigations.ArtAndCraft" />
        <activity android:name=".Navigations.Mens" />
        <activity android:name=".Navigations.Jwellery" />
        <activity android:name=".Navigations.Kids" />
        <activity android:name=".Navigations.Sports" />

        <activity android:name=".Paypal.ConfirmationActivity"/>
        <activity android:name=".Paypal.PaypalActivity"/>

    </application>

</manifest>